tools/IndexerPdfsTest/IndexerPdfsTest/Service References/DedsSearchService/DedsSearchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://ws.imservices.org.uk/dcft/deds/1.0/datacontracts" elementFormDefault="qualified" targetNamespace="http://ws.imservices.org.uk/dcft/deds/1.0/datacontracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fct-mocks-dat.azurewebsites.net/DedsSearchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://fct-mocks-dat.azurewebsites.net/DedsSearchService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DataSetDescriptor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CollectionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataProviderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RetentionDuration" nillable="true" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataSetDescriptor" nillable="true" type="tns:DataSetDescriptor" />
  <xs:complexType name="DataContractBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataContractBase" nillable="true" type="tns:DataContractBase" />
  <xs:complexType name="DiscoverDataSetVersionsCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataSetCollectionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataSetDataProviderId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscoverDataSetVersionsCriteria" nillable="true" type="tns:DiscoverDataSetVersionsCriteria" />
  <xs:complexType name="DataSetVersionDescriptor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataSetId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasBeenThroughQualityAssurance" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IsMandatory" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PublishedDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PublishedState" nillable="true" type="tns:PublishedStateDescriptor" />
          <xs:element minOccurs="0" name="ReasonForVersion" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataSetVersionDescriptor" nillable="true" type="tns:DataSetVersionDescriptor" />
  <xs:simpleType name="PublishedStateDescriptor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="PendingQualityAssurance" />
      <xs:enumeration value="Published" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PublishedStateDescriptor" nillable="true" type="tns:PublishedStateDescriptor" />
  <xs:complexType name="DiscoverQueriesCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataSetVersionId" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscoverQueriesCriteria" nillable="true" type="tns:DiscoverQueriesCriteria" />
  <xs:complexType name="QueryDescriptor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FilterDescriptors" nillable="true" type="tns:ArrayOfFilterDescriptor" />
          <xs:element minOccurs="0" name="GetTotalCountSupported" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PagingSupported" nillable="true" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="SortDescriptors" nillable="true" type="tns:ArrayOfSortDescriptor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryDescriptor" nillable="true" type="tns:QueryDescriptor" />
  <xs:complexType name="ArrayOfFilterDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilterDescriptor" nillable="true" type="tns:FilterDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilterDescriptor" nillable="true" type="tns:ArrayOfFilterDescriptor" />
  <xs:complexType name="FilterDescriptor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FieldDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FieldOperator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsRequired" nillable="true" type="xs:boolean" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PickListValues" nillable="true" type="q3:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FilterDescriptor" nillable="true" type="tns:FilterDescriptor" />
  <xs:complexType name="SortDescriptor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FieldDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsRequired" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SortDescriptor" nillable="true" type="tns:SortDescriptor" />
  <xs:complexType name="DiscoverFilesCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CollectionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataProviderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageNumber" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q4:ArrayOfstring" />
          <xs:element minOccurs="0" name="SortValues" nillable="true" type="tns:ArrayOfSortValue" />
          <xs:element minOccurs="0" name="SubmissionId" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscoverFilesCriteria" nillable="true" type="tns:DiscoverFilesCriteria" />
  <xs:complexType name="ArrayOfSortValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SortValue" nillable="true" type="tns:SortValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSortValue" nillable="true" type="tns:ArrayOfSortValue" />
  <xs:complexType name="SortValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SortOrder" nillable="true" type="tns:SortOrder" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SortValue" nillable="true" type="tns:SortValue" />
  <xs:simpleType name="SortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortOrder" nillable="true" type="tns:SortOrder" />
  <xs:complexType name="FileDescriptor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CollectionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataProviderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileSizeBytes" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublishedDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RetentionDuration" nillable="true" type="ser:duration" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q5:ArrayOfstring" />
          <xs:element minOccurs="0" name="SubmissionId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileDescriptor" nillable="true" type="tns:FileDescriptor" />
  <xs:complexType name="QueryExecution">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FilterValues" nillable="true" type="tns:ArrayOfFilterValue" />
          <xs:element minOccurs="0" name="PageNumber" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SortValues" nillable="true" type="tns:ArrayOfSortValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryExecution" nillable="true" type="tns:QueryExecution" />
  <xs:complexType name="ArrayOfFilterValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilterValue" nillable="true" type="tns:FilterValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilterValue" nillable="true" type="tns:ArrayOfFilterValue" />
  <xs:complexType name="FilterValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FieldValue" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FilterValue" nillable="true" type="tns:FilterValue" />
  <xs:complexType name="QueryResults">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FieldNames" nillable="true" type="q6:ArrayOfstring" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Results" nillable="true" type="q7:ArrayOfArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryResults" nillable="true" type="tns:QueryResults" />
  <xs:complexType name="FileData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CollectionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataProviderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileSizeBytes" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublishedDateTime" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q8:ArrayOfstring" />
          <xs:element minOccurs="0" name="SubmissionId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileData" nillable="true" type="tns:FileData" />
  <xs:complexType name="ArrayOfSortDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SortDescriptor" nillable="true" type="tns:SortDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSortDescriptor" nillable="true" type="tns:ArrayOfSortDescriptor" />
  <xs:complexType name="ArrayOfDataSetVersionDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSetVersionDescriptor" nillable="true" type="tns:DataSetVersionDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSetVersionDescriptor" nillable="true" type="tns:ArrayOfDataSetVersionDescriptor" />
  <xs:complexType name="ArrayOfQueryDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryDescriptor" nillable="true" type="tns:QueryDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryDescriptor" nillable="true" type="tns:ArrayOfQueryDescriptor" />
  <xs:complexType name="ArrayOfFileDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileDescriptor" nillable="true" type="tns:FileDescriptor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileDescriptor" nillable="true" type="tns:ArrayOfFileDescriptor" />
  <xs:complexType name="ArrayOfQueryResults">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryResults" nillable="true" type="tns:QueryResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryResults" nillable="true" type="tns:ArrayOfQueryResults" />
</xs:schema>